@import url("fonts/anurati_font/webfontkit-20190129-090952/stylesheet.css");

body {
    background-color: #fff;
    font-family: "Nunito", sans-serif;
    margin-bottom: 10px; 
    transition: background 500ms;
}

.headerImage {
    position: relative;
    width: 100%; 
    height: 400px;
    object-fit: cover;
    object-position: 0 90%;  
}

#headerH1 {
    position: absolute;
    text-align: center;
    width: 100%;
    margin:0;
    top: 200px;
    color: #090b99;
    background-color: rgba(208, 211, 220, 0.6);
    font-style: italic;
    font-weight: 200;
    transition: all 500ms;
}

#mainNavbar .navbar-brand {
    color: #fff;
    font-weight: bold;  
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    background-color: rgba(208, 211, 220, 0.7);
    transition: background 500ms;
}

#mainNavbar .nav-link {
    color: #fff;
}

#mainNavbar .nav-link:hover {
    color: #090b99;
}

.navbar.scrolled {
    background-color: #d1d4dd !important;
    transition: background 800ms;
}

.nightBtn {
    font-family: 'anuratiregular';
}

.textDiv h2 {
    color:#090b99;
    font-weight: 100;
    font-size: 2.5rem;
}

.textDiv p {
    color: #99091c;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.contentDiv {
    margin-top: 100px;
}

.contentDiv.alignRight {
    text-align: right;
}

.aboutDiv {
    margin: 40px 0px;
}

/* Dark mode styles */

body.night {
    background-color: #0f0f0f;
}

.night #headerH1 {
    color: #fff;
    background-color:  rgba(29, 28, 28, .7); 
}

.night #mainNavbar .navbar-brand {
    color: #fff; 
}

.night #mainNavbar {
    background-color: rgba(29, 28, 28, .7);
}

.night #mainNavbar .nav-link {
    color: #fff;
}

.night #mainNavbar .nav-link:hover {
    color: #620786;
}

.night .navbar.scrolled {
    background-color: #11023a !important;
}

.night .textDiv h2 {
    font-family: 'anuratiregular';
    color: #620786;
}
.night .fa-ellipsis-v {
    color: #fff;
}
.night .textDiv p {
    color: #0350b4;
}




@media (max-width: 1200px) {  /* at less than 1200px */
    #headingGroup h1 {
        font-weight: 100;
        font-size: 2rem;
    }
}

@media (max-width: 765px){
    #mainNavbar {
        background-color: #d0d3dc;
    }

    .night #mainNavbar {
        background-color: #1d1c1c;
    }
} 

@media (max-width: 620px) {
    #headerH1 {
        top: 120px;
        font-size: 1.8em;
    }
}