@import url("fonts/anurati_font/webfontkit-20190129-090952/stylesheet.css");

body {
    background-color: #fff;
    font-family: "Nunito", sans-serif;
    margin-bottom: 10px; 
}

.headerImage {
    position: relative;
    width: 100%; 
    height: 400px;
    object-fit: cover;
    object-position: 0 90%;   
}

#headerH1 {
    position: absolute;
    text-align: center;
    width: 100%;
    margin:0;
    top: 200px;
    color: #090b99;
    background-color: rgba(208, 211, 220, 0.6);
    font-style: italic;
    font-weight: 200;
}

#mainNavbar .navbar-brand {
    color: #fff;
    font-weight: bold;  
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    background-color: rgba(208, 211, 220, 0.7);
}

#mainNavbar .nav-link {
    color: #fff;
}

#mainNavbar .nav-link:hover {
    color: #090b99;
}

.navbar.scrolled {
    background-color: #d1d4dd !important;
    transition: background 800ms;
}

.textDiv h2 {
    color:#090b99;
    font-weight: 100;
    font-size: 2.5rem;
}

.textDiv p {
    color: #99091c;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.contentDiv {
    margin-top: 100px;
}

@media (max-width: 1200px) {  /* at less than 1200px */
    #headingGroup h1 {
        font-weight: 100;
        font-size: 2rem;
    }
}

@media (max-width: 765px){
    #mainNavbar {
        background-color: #d1d4dd;
    }
} 

@media (max-width: 620px) {
    #headerH1 {
        top: 120px;
        font-size: 1.8em;
    }
}